/* HEADER */
.header {
  padding: 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}

/* CONTAINER */
.container {
  max-width: 1440px;
  padding: 20px;
  margin: 0 auto;
}
/* LOGO ANIMATION */
.logo {
  animation: spin 30s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* LINK */
.link {
  font-size: 16px;
  font-weight: 500;
  color: #0a66c2;
  text-decoration: none;
  transition: color 0.2s ease;
  margin-bottom: 18px;
}

.link:hover {
  color: #004182;
  text-decoration: underline;
}

/* FORM */
.form {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  align-items: center;
}
.navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.navigationLi {
  list-style: none; /* Щоб прибрати крапки списку */
  margin: 0;
  padding: 0;
}
.mobileMenu {
  display: block;
}
.mobwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobMenu {
  z-index: 100;
  display: flex;
  justify-content: center; /* по вертикали */
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  position: fixed;
  inset: 0; /* top: 0; right: 0; bottom: 0; left: 0; */

  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition:
    opacity 0.3s,
    transform 0.3s,
    visibility 0.3s;
}
.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.buttonmenu {
  z-index: 101;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  cursor: pointer;

  transition:
    transform 0.15s ease,
    background-color 0.2s ease,
    box-shadow 0.15s ease;
}

.buttonmenu:hover {
  background: rgba(54, 43, 200, 0.25);
}

.buttonmenu:active {
  transform: scale(0.9);
}
.icon {
  width: 100%;
  height: 100%;
}
.navigationLink {
  display: block;
  padding: 20px;
  position: relative;
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
  cursor: pointer;
}

.navigationLink:hover {
  background: rgba(54, 43, 200, 0.25);
  transform: scale(1.05);
}

.navigationLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* Лінія буде під самим блоком */
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease;
}

.navigationLink:hover::after {
  width: 100%;
}
/* INPUT */
.input {
  padding: 10px 12px;
  font-size: 16px;

  border: 1px solid #ccc;
  border-radius: 4px;

  width: 240px;
}

/* BUTTON */
.button {
  padding: 10px 20px;

  font-size: 16px;
  background-color: black;
  color: white;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.button:hover {
  background-color: #004182;
}

/* MOBILE */
.form {
  flex-direction: column;
  width: 100%;
}

.searchForm {
  position: relative;
}

.input {
  width: 100%;
  padding: 10px 45px 10px 16px;
}

.buttonPlaceholder {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;
  cursor: pointer;
  color: #777;
}
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
.buttonPlaceholder:hover {
  color: #362bc8;
}
.button {
  display: flex;
  width: 25%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.desctopMenu {
  display: none;
}
/* DESKTOP */
@media (min-width: 1024px) {
  .desctopMenu {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .form {
    flex-direction: row;
    width: auto;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .input {
    max-width: 440px;
  }

  .button {
    width: auto;
  }
  .mobileMenu {
    display: none;
  }
}
