/* RESET */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

/* BASE (mobile-first) */
.filterWrap {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

/* BUTTON BASE STYLE */
.filterButton,
.categoryButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 36px;
  padding: 6px 12px;

  border-radius: 16px;

  background: rgba(72, 69, 76, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);

  transition: 0.2s ease;
}

/* ACTIVE STATE */
.active {
  background: rgba(54, 43, 200, 0.25);
  transform: scale(1.05);
}

/* MOBILE */
.filterWrap {
  display: flex;
  flex-wrap: nowrap;

  overflow-x: auto;
  overflow-y: hidden;

  gap: 8px;
  padding: 8px 10px;

  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}

.filterWrap::-webkit-scrollbar {
  display: none; /* Chrome */
}

/* чтобы кнопки не сжимались */
.categoryButton,
.filterButton {
  flex: 0 0 auto;
}

/* TABLET */
@media (min-width: 375px) {
  .filterWrap {
    gap: 6px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .filterWrap {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}
