.wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  gap: 5%;
}

@media (min-width: 1024px) {
  .wrap {
    position: relative;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap: 5%;
  }
}
